* {
   margin: 0;
   padding: 0;
}
.inputDiv {
    position: absolute;
    top: 5px;
    right: 5px;
}
#main{
    text-align: center;
}
.pin{
    padding: 5px;
    display: inline-block;
}
.box{
    width:162px;
    height:162px;
    padding: 10px;
    border:1px solid #ccc;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px;
    position: relative;
    /*background: url(loading.gif) no-repeat center;*/
    overflow: hidden;
}
.box img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.picbox {
    padding:10px 0 0 15px;
    float: left;
}
.pic {
    padding: 10px;
    box-shadow: 0 0 6px #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.pic img {
    width: 150px;
    height: auto;
}